{% extends "home_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="#" method="post">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-light">
            <div class="col-md-auto px-0">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Comment for Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}