{% extends "home_app/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="p-4 p-md-5 mb-4 rounded text-bg-dark">
            <div class="col-md-auto px-0">
                <h5 class="display-4 fst-italic"><img class="rounded-circle article-img"
                                                      src="{{ post.author.image.url }}" width="40"
                                                      height="40">{{ post.title }} </h5>

                {% if post.author.username == user.username %}
                    <p>{{ post.updated }}&emsp;Author: <a
                            href="{% url 'profile-view' post.author.id %}"> {{ post.author }}</a>
                        <a class="btn btn-outline-warning btn-sm float-end" href="{% url 'post-view' post.id %}"
                           role="button">Update Post</a>
                        <a class="btn btn-danger btn-sm float-end" href="{% url 'post-delete' post.id %}"
                           role="button">Delete Post</a>
                    </p>

                {% else %}
                    <p class="blog-post-meta">{{ post.updated }} &emsp; Author: <a
                            href="{% url 'profile-view' post.author.id %}"> {{ post.author }}</a></p>
                {% endif %}
                <hr>
                <p class="lead my-3">{{ post.body }}</p>
                <p class="font-monospace m-0">Likes: {{ post.total_likes }} <!-- OR post.who_liked.all.count -->
                    {% if post.total_likes %}
                        (
                        {% for u in post.who_liked %}
                            {{ u }}
                        {% endfor %})</p>
                    {% endif %}
                <p style="display: inline;">
                <form action="{% url 'post-like' post.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm"
                            type="submit"> &#128077;
                    </button>
                </form>
                <form action="{% url 'add-comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm"
                            type="submit">Comment
                    </button>
                </form>
                </p>

                {% for c in post.post_comments.all %}
                    <img class="rounded-circle article-img"
                         src="{{ c.author.image.url }}" width="20"
                         height="20">
                    {{ c.author }} {{ c.publish }}
                    <article class="p-1 p-md-1 mt-2 rounded text-bg-secondary">


                        {{ c.body }}


                    </article>
                {% endfor %}

            </div>
        </article>
    {% endfor %}
{% endblock %}